<div class="container-fluid">
  <div class="row">
    <div ng-controller="ChatController" class="col-sm-7 col-xs-12 col-md-7 col-lg-7" >
        
          <div class="container-fluid" ng-controller="tradingViewController">
            <div ng-bind-html="player"></div>
          </div>
        
        <form class="form-horizontal">
          <div class="container-fluid">
          <div class="panel panel-primary">
            <div class="panel-heading">Operacion</div>
            <div class="panel-body">
              
              <div class="btn-group btn-group-justified">
                <a href="" type="submit" ng-click="sendSignalDown()"  class="btn btn-success"><span class="glyphicon glyphicon-thumbs-down"></span> baja</a>
                <a  href="" class="btn btn-primary"><span class="glyphicon glyphicon-time">
                <div ng-controller='TimeCtrl'>
                  <p>{{ clock | date:'HH:mm:ss'}}</p>
                </div>
              </span></a>
                <a href="" ng-click="sendSignalUp()" class="btn btn-danger" value='up'><span class="glyphicon glyphicon-thumbs-up"></span> sube</a>
              </div>
                <div class="container ">
                  <div class="col-sm-2 col-xs-12 col-md- col-lg-2">
                <div class="form-row">
                  <h5>Importe:</h5>
                  <div class="input-group" > 
                  <span class="input-group-addon" ><span class="glyphicon glyphicon-usd"></span></span>
                      <input type="number" value="100" style="height: 50px;" min="0" step="1" data-number-to-fixed="2" ng-model="userSignal.importe" data-number-stepfactor="100" class="currency form-control" id="c1" />
                    </div>
                </div>
              </div>
              <div class="col-sm-2 col-xs-12 col-md-2 col-lg-2">
                <h5>Divisa:</h5>
                <select ng-model="userSignal.mercado"class="form-control">
                  
                	        <option selected>EURUSD</option>
                        	<option>USD</option>
                        	<option >GBP</option>
                        	<option >JPY</option>
                          <option >RUB</option>
                        	<option >AUD</option>
                        	<option >CAD</option>
                        	<option >CHF</option>
                        	<option >BGN</option>
                            </select> 
              </div>
              <div class="col-sm-2 col-xs-12 col-md-2 col-lg-2">
                <h5>Cuenta de pago:</h5>
                <select ng-model="userSignal.cuenta" class="form-control">
                	        <option  selected>Paypal</option>
                        	<option>VISA</option>
                        	<option >Skrill</option>
                        	<option >E-GOLD</option>
                            </select> 
              </div>
              <div class="col-sm-2 col-xs-12 col-md-2 col-lg-2">
                <h5>Hora fin operacion:</h5>
                          <div class="row">
                          <div class='col-sm-6'>
                              <div class="form-group">
                                  <div class='input-group date'>
                                      <input type="time" ng-model="userSignal.hora_fin"  value="{{ clock | date:'HH:mm:ss'}}">
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-time"></span>
                                      </span>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
              </div>

              <a href="#" class="btn btn-warning btn-lg btn-block"><span class="glyphicon glyphicon-gbp"> Depósito:</span></a>
            </div>
          </div>
          </div>
         </form>
      </div>
      
      
      <div class="container-fluid col-sm-5 col-xs-12 col-md-5 col-lg-5" ng-controller="ChatController">
        
        <div class="row form-group">
          
            <div class="panel panel-primary">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-bullhorn"> Panel de operaciones </span>
                </div>
                		<div class="panel-body"> 
                		<!--div ng-include="'pages/header2.html'"></div-->
                		<div class="well well-sm" style="height: 200px; overflow-y: auto;">
                        <table class="table">
                          <tr>
                            <th>Usuario</th>
                            <th>Fecha</th>
                            <!--th>Hora inicio</th-->
                            <th>Hora fin</th>
                            <th>Importe</th>
                            <th>Mercado</th>
                            <!--th>cuenta</th-->
                            <th>U/D</th>
                            <th>Ganada</th>
                          </tr>
                          <tr ng-repeat="signal in signals">
                            <td ng-if="$odd" ng-bind="signal.username" style="background-color:#686868"></td>
                            <td ng-if="$even"  ng-bind="signal.username"></td>
                            <td ng-if="$odd"  ng-bind="signal.fecha | date:'HH:mm:ss'" style="background-color:#686868"></td>
                            <td ng-if="$even"  ng-bind="signal.fecha | date:'dd/MM/yyyy hh:mm:ss'"></td>
                            <!--td ng-if="$odd" ng-model="signal.hora_inicio" style="background-color:#686868" ></td>
                            <td ng-if="$even" ng-model="signal.hora_inicio"></td-->
                            <td ng-if="$odd" ng-bind="signal.hora_fin" style="background-color:#686868"></td>
                            <td ng-if="$even" ng-bind="signal.hora_fin"></td>
                            <td ng-if="$odd" style="background-color:#686868" ng-bind="signal.importe"></td>
                            <td ng-if="$even" ng-bind="signal.importe"></td>
                            <td ng-if="$odd" style="background-color:#686868" ng-bind="signal.mercado"></td>
                            <td ng-if="$even" ng-bind="signal.mercado"></td>
                            <!--td ng-if="$odd" style="background-color:#686868" ng-bind="signal.cuenta"></td>
                            <td ng-if="$even" ng-bind="signal.cuenta"></td-->
                            <td ng-if="$odd" style="background-color:#686868" ng-bind="signal.up_down"></td>
                            <td ng-if="$even"  ng-bind="signal.up_down"></td>
                            <td ng-if="$odd"  style="background-color:#686868" ng-bind="signal.ganada"></td>
                            <td ng-if="$even"  ng-bind="signal.ganada"></td>
                          </tr>
                        </table> 
                      </div>
                    </div>
                  </div> 
                 </div>     
  <div ng-controller="ChatController" >
    <!-- /example -->
        
    
    <div class="row form-group">
       <div class="panel panel-primary">
          <div class="panel-heading">
             <span class="glyphicon glyphicon-comment"></span> Comments
               <div class="btn-group pull-right">
                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                     <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                          <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                          </ul>
                    </div>
                </div>
                <div class="body-panel">
                  <ul class="nav nav-list well">
                    <li class="nav-header">Usuarios conectados</li>
                    <li ng-repeat="user in roster" ng-bind="user">
                    </li>
                  </ul>
                    <ul class="chat" style="height: 200px; overflow-y: auto;">
                            <div class="chat-body clearfix right"><span class="chat-img pull-right">
                                <!--div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div-->
                                <table class="table table-striped table-bordered" >
                                <tbody  >
                                <tr ng-repeat="msg in messages">
                                <td ng-bind="msg.name"></td>
                                <span ng-if="msg.destacado == true" class="bg-danger">
                                  <td ng-bind="msg.text" class="blue" ></td>
                                  <td ng-bind="msg.destacado" class="blue" ></td>
                                </span>  
                                </tr>
                              </tbody>
                              </table>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <form ng-submit="send()">
                      <input type="text" ng-model="text" placeholder="Message">
                      <input type="submit" class="btn btn-primary" value="Send" ng-disabled="!text">
                      <button ng-click="send2()" class="btn btn-danger" value="Alerta" ng-disabled="!text">Danger</button>
                    </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
  </div>      
</div>
</div>